/*
    Jackson Chegenye
*/
body {
    font-family: 'Rajdhani', sans-serif !important;
    background: #fafafa;
    font-size: 1.4rem ;
    transition: opacity 1.5s;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.fa, .fas,
.dropdown-item:focus, .dropdown-item:hover,
button:focus {
    outline: none;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #2795b1 !important;
    color: #fff !important;
    border-radius: 0;
}
.nav-link.dropdown-toggle,
.dropdown-item{
    color: #607d8b;
    font-size: 14px;
}
.dropdown-item i{
    width: 30px;
}
.navbar {
    padding: 0px;
    margin-bottom: 25px;
    background-color: #fff;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

.modal-content{
    border-radius: 0;
    border: 0;
}
.form-control{
    border-radius: 0 !important;
}
.form-control:focus {
    border-color: #80bdff30 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.09)!important;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #607d8b;
    background: #fff;
    transition: all 0.3s;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar .sidebar-header p {
    font-weight: 600;
    color: #bdbdbd;
    font-size: 12px;
    line-height: 1;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #ffffff;
    text-align: center;
    line-height: initial;
}

#sidebar .sidebar-header .navbar-brand{
    white-space: normal;
    margin: 0;
}

#sidebar .sidebar-header strong {
    display: none;
    /* font-size: 1.8em; */
}
#sidebar .sidebar-header span {
    font-weight: 700;
}

#sidebar ul.components {
    border-bottom: 1px solid #f3f3f3;
}

#sidebar ul li .default{
    text-transform: uppercase;
    font-weight: 700;
    color: #41434d;
}

#sidebar ul li .default,
#sidebar ul li a {
    padding: 2px 2px 2px 35px;
    line-height: 50px;
    font-size: 14px;
    display: block;
    text-align: left;
}

#sidebar ul li a:hover {
    color: #2795b1;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 40px;
    width: 0px;
}

#sidebar ul.inner-menu li{
    padding-left: 12px;
}
#sidebar ul.inner-menu{
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f3f3f3;
    transition: 0ms;
}
#sidebar ul.inner-menu li a{
    line-height: 35px;
    padding: 0px 2px 0px 45px;
}
#sidebar ul.inner-menu li a:hover{
    color: #41c33b;
}
#sidebar ul.inner-menu li a i {
    color: #41c33b;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #2795b1;
    background: #fafafa;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #ffffff !important;
    color: #fff !important;
}

.mobile.navbar-brand{
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin: auto;
    padding-top: 20px;
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
    color: #2795b1;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#dashboard {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #ffffff;
    cursor: pointer;
    left: -20px;
    top: 0px;
    position: absolute;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.08);
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #bbbbbb;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}
#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#top-bar .user-avatar {
    height: 25px;
}
#top-bar .nav-item.dropdown{
    display: inline-flex;
    align-items: center;
}
#top-bar .dropdown-menu.dropdown-menu-right.show{
    width: 100%;
}
.dropdown-menu.dropdown-menu-right.show{
    border: 0;
    margin: 0;
    border-radius: 0;
}
.dropdown-menu{
    -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
}
#top-bar .badge.badge-pill.generalN{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 4px;
    text-align: center;
}

#top-bar .badge.badge-pill{
    border-radius: 50%;
    padding: 4px;
    text-align: center;
}


#main-box{
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 1px 6px 2px #efefef;
}
.dropdown-ellipsed{
    cursor: pointer;
}
#main-box .dropdown-ellipsed.btn.btn-primary{
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;
}
#main-box hr{
    margin-left: -20px;
    margin-right: -20px;
}

/* BOOTSTRAP TOAST - CUSTOM   */
    #main-toaster{
        position:fixed; 
        bottom: 10px ; 
        right: 25px;
    }
    #main-toaster .toast{
        padding: 0;
        margin-bottom: 15px;
    }


    /* Success */
    #main-toaster .toast.alert.alert-success.fade.show{
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    #main-toaster .toast.alert.alert-success .toast-header{
        color: #155724;
        background-color: #ffffffdb;
    }
    #main-toaster .toast.alert.alert-success .toast-header .awesome-icon:before{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f164";
        padding-right: 10px;
    }

    /* Info */
    #main-toaster .toast.alert.alert-info.fade.show{
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
    #main-toaster .toast.alert.alert-info .toast-header{
        color: #0c5460;
        background-color: #ffffffdb;
    }
    #main-toaster .toast.alert.alert-info .toast-header .awesome-icon:before{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f05a";
        padding-right: 10px;
    }

    /* warning */
    #main-toaster .toast.alert.alert-warning.fade.show{
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }
    #main-toaster .toast.alert.alert-warning .toast-header{
        color: #856404;
        background-color: #ffffffdb;
    }
    #main-toaster .toast.alert.alert-warning .toast-header .awesome-icon:before{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f071";
        padding-right: 10px;
    }

    /* error */
    #main-toaster .toast.alert.alert-error.fade.show{
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    #main-toaster .toast.alert.alert-error .toast-header{
        color: #721c24;
        background-color: #ffffffdb;
    }
    #main-toaster .toast.alert.alert-error .toast-header .awesome-icon:before{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f1e2";
        padding-right: 10px;
    }

/* BOOTSTRAP BUTTONS - CUSTOM */

.modal .btn:hover {
    color: #fff !important;
}

    .btn{
        padding: 5px 15px;
        border-radius: 0 !important;
    }

    /* success */
    .badge-success,
    .btn-success{
        background-color: rgba(29, 201, 183, 0.1);
        color: #1dc9b7;
        border-color: rgba(29, 201, 183, 0.1);
    }
    .btn-success:hover{
        color:#fff;
    }
    .btn-success:active{
        color: rgba(29, 201, 183, 0.1);
        background-color: #1dc9b7;
        border-color: #1dc9b7;
    }
    .btn-success.focus, .btn-success:focus {
        box-shadow: 2px 2px 3px 0px rgba(29, 201, 183, 0.1);
    }

    /* primary */
    .badge-primary,
    .btn-primary{
        background-color: rgba(44, 119, 244, 0.1);
        color: #2c77f4;
        border-color: rgba(44, 119, 244, 0.1);
    }
    .btn-primary:hover{
        color:#fff;
    }
    .btn-primary:active{
        color: rgba(44, 119, 244, 0.1);
        background-color: #2c77f4;
        border-color: #2c77f4;
    }
    .btn-primary.focus, .btn-primary:focus {
        box-shadow: 2px 2px 3px 0px rgba(29, 201, 183, 0.1);
    }

    /* danger */
    .badge-danger,
    .btn-danger{
        background-color: rgba(253, 57, 122, 0.1);
        color: #fd397a;
        border-color: rgba(253, 57, 122, 0.1);
    }
    .btn-danger:hover{
        color:#fff;
    }
    .btn-danger:active{
        color: rgba(253, 57, 122, 0.1);
        background-color: #fd397a;
        border-color: #fd397a;
    }
    .btn-danger.focus, .btn-danger:focus {
        box-shadow: 2px 2px 3px 0px rgba(253, 57, 122, 0.1);
    }

    /* warning */
    .badge-warning,
    .btn-warning{
        background-color: rgba(255, 184, 34, 0.1);
        color: #ffb822;
        border-color: rgba(255, 184, 34, 0.1);
    }
    .btn-warning:hover{
        color:#fff;
    }
    .btn-warning:active{
        background-color: #ffb822;
        border-color: #ffb822;
    }
    .btn-warning.focus, .btn-warning:focus {
        box-shadow: 2px 2px 3px 0px rgba(255, 184, 34, 0.1);
    }

    /* secondary */
    .badge-secondary,
    .btn-secondary{
        background-color: rgba(108, 117, 125, 0.41);
        color: #6c757d;
        border-color: rgba(108, 117, 125, 0.41);
    }
    .btn-secondary:hover{
        color:#fff;
    }
    .btn-secondary:active{
        color: rgba(108, 117, 125, 0.41);
        background-color: #6c757d;
        border-color: #6c757d;
    }
    .btn-secondary.focus, .btn-secondary:focus {
        box-shadow: 2px 2px 3px 0px rgba(108, 117, 125, 0.41);
    }

    /* info */
    .badge-info,
    .btn-info{
        background-color: rgba(17, 122, 139, 0.48);
        color: #10707f;
        border-color: rgba(17, 122, 139, 0.48);
    }
    .btn-info:hover{
        color:#fff;
    }
    .btn-info:active{
        color: rgba(17, 122, 139, 0.48);
        background-color: #10707f;
        border-color: #10707f;
    }
    .btn-info.focus, .btn-info:focus {
        box-shadow: 2px 2px 3px 0px rgba(17, 122, 139, 0.48);
    }

    /* Table */
    .table td, .table th{
        padding: .7rem;
        vertical-align: top;
        border-top: none;
        font-size: 1rem;
        line-height: normal;
    }
    .table td{
        font-weight: 400;
    }
    .table td.caret-td, .table th.caret-td{
        text-align: center;
        cursor: pointer;
        color: #2c77f4;
        vertical-align: middle;
    }
    .table td.caret-td i, .table th.caret-td i{
        width:10px;
    }
    .table td.caret-td .fa.fa-caret-down, .table th.caret-td .fa.fa-caret-down{
        color:#fd397a;
    }

    /* .explore-more-td {
        display: none;
    } */

    .explore-more-td td .table{
        margin: 0;
        margin-bottom: 2px;
    }
    .explore-more-td td{
        padding: 0;
    }
    .explore-more-td td .inner-table tr td{
        padding: 5px 10px;
        border-bottom: 1px solid #f2f3f2;
        background-color: rgba(187, 187, 187, 0.05);
        font-weight: 400;
        font-size: 13px;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(187, 187, 187, 0.05);
    }

    .table tbody+tbody {
        border-top: 1px solid #dee2e6 !important;
    }